# Build only merge request and default branch
# and branches start with (develop).
# save time for quick demo pushes
workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_BRANCH =~ /^develop/

.jazzy-setup:
  image: ros:jazzy-ros-core

.humble-setup:
  image: ros:humble-ros-core

include:
  - component: gitlab.com/ROSI-AP/rosi-ap_infrastructure/ci_templates/build-and-test@559983b81652d125ec2df7e5effd12085452ad62  # main
    inputs:
      job_name: jazzy
      ros_distro: "jazzy"
      setup_job_name: .jazzy-setup
      run_coverage: false

  - component: gitlab.com/ROSI-AP/rosi-ap_infrastructure/ci_templates/build-and-test@559983b81652d125ec2df7e5effd12085452ad62  # main
    inputs:
      job_name: humble
      ros_distro: "humble"
      setup_job_name: .humble-setup
      run_asan: false
      run_tsan: false
      coverage_exclude:
        - "*/test/*"
        - "*/examples/*"

# Build API Documentation
doxygen-docs:
  image: ubuntu:latest

  before_script:
    - apt-get -qq update
    - apt-get -y -qq install doxygen graphviz

  script:
    - (mkdir -p docs/doxygen/build && cd ./.doxygen && doxygen)

  artifacts:
    paths:
      - docs/doxygen/build/html/
    expire_in: 1 day

# Build Sphinx Documentation
sphinx-docs:
  image: ubuntu:22.04

  before_script:
    - apt-get -qq update

    # Install Python3 dependencies
    - apt-get install -y -qq python3-pip python3-dev
    - python3 -m pip install --upgrade setuptools

    # Install Sphinx
    - python3 -m pip install --upgrade sphinx sphinx-rtd-theme myst_parser recommonmark

    # Install Lint tools
    - DEBIAN_FRONTEND="noninteractive" apt-get install -y -qq enchant-2 git
    - python3 -m pip install --upgrade doc8 pyenchant sphinxcontrib-spelling

  script:
    # Make html
    - make -C docs/sphinx html
    # Run Doc8 Lint
    - doc8 docs/sphinx --ignore-path docs/sphinx/build --max-line-length 999
    # Check Spelling
    - make -C docs/sphinx spelling
    - find . -name *.spelling -exec cat {} \;
    - sh -c "! find . -name *.spelling | grep -q ."
  artifacts:
    paths:
      - docs/sphinx/build/html/
    expire_in: 1 day
